name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    uses: tracefinance/reusable-workflows/.github/workflows/github-create-release.yml@main
    secrets: inherit
  publish:
    if: ${{ needs.release.outputs.new_release_published == 'true' }}
    needs: release
    uses: tracefinance/reusable-workflows/.github/workflows/container-build-and-push.yml@main
    secrets: inherit
    with:
      image_tag: ${{ needs.release.outputs.new_release_version }}